@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Erika";
  src: url("../public/fonts/Erika.ttf");
  /* font-style: normal;
  font-weight: 300; */
}

.animate-grow {
  animation-duration: 2s;
  animation-name: animate-grow;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes animate-grow {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0;
  }
}

.animate-shrink {
  animation-duration: 3s;
  animation-name: animate-shrink;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes animate-shrink {
  from {
    /* padding-top: 20%; */
    top: 20vh;
  }

  to {
    /* padding-top: 0; */
    top: -50vh;
  }
}
