@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Erika";
  src: url("../public/fonts/Erika.ttf");
  /* font-style: normal;
  font-weight: 300; */
}

.animate-grow {
  animation-duration: 2s;
  animation-name: animate-grow;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes animate-grow {
  from {
    height: 0px;
  }

  to {
    height: 100vh;
  }
}

.animate-shrink {
  animation-duration: 2s;
  animation-name: animate-shrink;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes animate-shrink {
  from {
    height: 100vh;
    visibility: visible;
  }

  to {
    height: 0;
    visibility: hidden;
  }
}
